/* You can add global styles to this file, and also import other style files */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding-bottom: 500px;

}
.class{
    border-bottom: 1px solid aqua;
    padding: 2em;
    margin-bottom: 1em;
}