table, th, td{
    
    border-bottom: 1px solid #ddd;
    text-align: center;
    
    margin: auto;
    border-collapse: collapse;
    padding: 15px;
    border-color: rgba(0, 0, 0, 0.322);   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
table{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 90%;
}
button{
    background-color: rgba(0, 255, 255, 0.486);
    border-radius: 15px;
    border-color: aliceblue;
}
button:hover{
    cursor: pointer;
    background-color: rgba(0, 255, 170, 0.644);
}
th{
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    font-weight: bold;
}
tr:nth-child(odd) {background-color: #f2f2f2a9;}
h2{
    margin: 15px 0px 50px 30px;
    display: inline-block;   
}
.edita{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: black;
    background-color: blue;
    color: white;
}