<p>table works!</p>
<table>
    <tr>
        <th>Plant_Name</th>
        <th>Alias</th>
        <th>Active</th>
        <th>Edit</th>
    </tr>
    <tr>
        <td>ViniciusPlant</td>
        <td>Linux</td>
        <td>TableHTML</td>
        <td><button (click)="editar()">edit</button></td>
    </tr>
    <tr>
        <td>Omg idk what im doing</td>
        <td>i guess it's ok</td>
        <td>or no...</td>
        <td><button (click)="editar()">edit</button></td>
    </tr>
    <tr>
        <td>Omg idk what im doing</td>
        <td>i guess it's ok</td>
        <td>or no...</td>
        <td><button (click)="editar()">edit</button></td>
    </tr>
    <tr>
        <td>Omg idk what im doing</td>
        <td>i guess it's ok</td>
        <td>or no...</td>
        <td><button (click)="editar()">edit</button></td>
    </tr>
</table>
<button (click)="joinha()">Joinha</button>

